In [3]:
# !pip install pandas
import pandas as pd

In [7]:
data = pd.read_csv('test_Data.csv')
data.head(5)

               timestamp_id sensor_id  id  x_position  y_position  unique_id
0  2023-03-24T21:00:06.109Z   cam_142  58    2.507783   11.268496          0
1  2023-03-24T21:00:06.109Z   cam_142  59    1.573932   10.638044          0
2  2023-03-24T21:00:06.109Z   cam_142  42    5.835030   10.356340          0
3  2023-03-24T21:00:06.194Z   cam_133  36    8.830462    3.720551          0
4  2023-03-24T21:00:06.194Z   cam_133  37    2.308586    2.703363          0

               timestamp_id sensor_id  id  x_position  y_position  unique_id
0  2023-03-24T21:00:06.109Z   cam_142  58    2.507783   11.268496          0
1  2023-03-24T21:00:06.109Z   cam_142  59    1.573932   10.638044          0
2  2023-03-24T21:00:06.109Z   cam_142  42    5.835030   10.356340          0
3  2023-03-24T21:00:06.194Z   cam_133  36    8.830462    3.720551          0
4  2023-03-24T21:00:06.194Z   cam_133  37    2.308586    2.703363          0